<div marginwidth="0" marginheight="0">
    	<div style="background-color:#f5f5f5;width:100%;margin:0;padding:70px 0 70px 0">
        	<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%"><tbody><tr><td align="center" valign="top">
                		<p style="margin-top:0"><img src="https://sjaaktramper.nl/img/logo/logo.png" alt="Vishandel Sjaak Tramper" style="display:inline;border:none;font-size:14px;font-weight:bold;height:auto;line-height:100%;outline:none;text-decoration:none;text-transform:capitalize" class="CToWUd"></p>   
                	<span class="HOEnZb"><font color="#888888">
                            </font></span><table border="0" cellpadding="0" cellspacing="0" width="600" id="m_-5884940595008137799template_container" style="border-radius:6px!important;background-color:#fdfdfd;border:1px solid #dcdcdc;border-radius:6px!important"><tbody><tr><td align="center" valign="top">
                                    
                                	<table border="0" cellpadding="0" cellspacing="0" width="600" id="m_-5884940595008137799template_header" style="background-color:#23558e;color:#ffffff;border-top-left-radius:6px!important;border-top-right-radius:6px!important;border-bottom:0;font-family:Arial;font-weight:bold;line-height:100%;vertical-align:middle" bgcolor="#23558e"><tbody><tr><td>
                                            	<h1 style="color:#ffffff;margin:0;padding:28px 24px;display:block;font-family:Arial;font-size:30px;font-weight:bold;text-align:left;line-height:150%">
                                            		Bestelling Successvol
                                            	</h1>

                                            </td>
                                        </tr></tbody></table></td>
                            </tr><tr><td align="center" valign="top">
                                    
                                	<span class="HOEnZb"><font color="#888888">
                                        </font></span><table border="0" cellpadding="0" cellspacing="0" width="600" id="m_-5884940595008137799template_body"><tbody><tr><td valign="top" style="background-color:#fdfdfd;border-radius:6px!important">
                                                
                                                <span class="HOEnZb"><font color="#888888">
                                                    </font></span><table border="0" cellpadding="20" cellspacing="0" width="100%"><tbody><tr><td valign="top">
                                                            <div style="color:#737373;font-family:Arial;font-size:14px;line-height:150%;text-align:left">
<p>U bestelling is succesvol ontvangen. De bestelling is als volgt:</p>

<table cellspacing="0" cellpadding="6" style="width:100%;border:1px solid #eee" border="1"><thead><tr><th scope="col" style="text-align:left;border:1px solid #eee">Product</th>
			<th scope="col" style="text-align:left;border:1px solid #eee">Aantal</th>
			<th scope="col" style="text-align:left;border:1px solid #eee">Prijs</th>
		</tr></thead><tbody>


		{% for row in orderRows %}

			<tr><td style="text-align:left;vertical-align:middle;border:1px solid #eee;word-wrap:break-word">
			{{ row.name }}<br><small></small></td>
		<td style="text-align:left;vertical-align:middle;border:1px solid #eee">{{ row.amount }}</td>
		<td style="text-align:left;vertical-align:middle;border:1px solid #eee"><span class="m_-5884940595008137799amount">
		€ {{ row.price }}</span></td>
	</tr>

		{% endfor %}



		</tbody>
	<tfoot><tr><th scope="row" colspan="2" style="text-align:left;border:1px solid #eee">Bestelling totaal:</th>
						<td style="text-align:left;border:1px solid #eee"><span class="m_-5884940595008137799amount">
						€ {{ total }}</span></td>
					</tr></tfoot></table></br><p><strong>Afhaallocatie:</strong> {{ pickupMoment }}</p>
<h2 style="color:#505050;display:block;font-family:Arial;font-size:30px;font-weight:bold;margin-top:10px;margin-right:0;margin-bottom:10px;margin-left:0;text-align:left;line-height:150%">Klantgegevens</h2>

	<p><strong>Naam:</strong> {{ name }}</p>
	<p><strong>E-mail:</strong> {{ email }}</p>
	<p><strong>Tel:</strong> {{ phone }}</p>
	<p><strong>Straat:</strong> {{ street }}</p>
	<p><strong>Huisnummer:</strong> {{ number }}</p>
	<p><strong>Woonplaats:</strong> {{ city }}</p>
	<p><strong>Popstcode:</strong> {{ postal }}</p>



<table cellspacing="0" cellpadding="0" style="width:100%;vertical-align:top" border="0"><tbody><tr></tr></tbody></table></div><span class="HOEnZb"><font color="#888888">
														</font></span></td></tr></tbody></table></td></tr></tbody></table></td></tr><tr><td align="center" valign="top">
                                    
                                	<table border="0" cellpadding="10" cellspacing="0" width="600" id="m_-5884940595008137799template_footer" style="border-top:0"><tbody><tr><td valign="top">
                                                <table border="0" cellpadding="10" cellspacing="0" width="100%"><tbody><tr><td colspan="2" valign="middle" id="m_-5884940595008137799credit" style="border:0;color:#7b99bb;font-family:Arial;font-size:12px;line-height:125%;text-align:center">
                                                        	<p>Vishandel
Sjaak Tramper</p>
                                                        </td>
                                                    </tr></tbody></table></td>
                                        </tr></tbody></table></td>
                            </tr></tbody></table></td>
                </tr></tbody></table></div><div class="yj6qo"></div><div class="adL">
    </div></div>